<!-- templates/messages.html -->
<!-- {{ csrf_token() }} -->
{% for message in messages %}
    {% if message['sender_id'] == current_user.id %}
        <div class="chat-message you">
            <p>{{ message['message_text'] }}</p>
            <div class="message-info">You - {{ message['timestamp'] }}</div>
        </div>
    {% else %}
        <div class="chat-message other">
            <p>{{ message['message_text'] }}</p>
            <div class="message-info">{{ contact }} - {{ message['timestamp'] }}</div>
        </div>
    {% endif %}
{% endfor %}
